@import '../utilities/typography', '../utilities/variable', '../templates/footer', '../templates/header', '../utilities/buttons';
/*----------------------------------------------------------------------------*/
/*EXPERTISE -------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.section-hero-services{
  position: relative;
  #expertise-form-logo{
    @apply hidden lg:flex absolute right-0;
    top: 250px;
    width: 100px;
  }
}

.container-technos {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-start px-8 gap-16;

  .content-techno {
    @apply flex flex-col items-center px-6 pb-8 gap-5 h-full;
    background-color: $background-gray;
    border-radius: 1rem;

    .content-techno-imgtext {
      @apply flex flex-col items-center gap-5;

      .img-vector {
        max-width: 3.5rem;
        margin-top: -1.75rem;
      }

      .content-techno-text {
        @apply flex flex-col items-center gap-2 text-center;

        .techno-title {
          font-family: 'Inter-Normal';
          font-style: normal;
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 1.875rem;
          color: $color-black;
        }

        .techno-description {
          font-family: 'Inter-Normal';
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5rem;
          color: $color-gray;
        }
      }
    }
  }
}

/*----------------------------------------*/
.container-expertise-team {
  @apply flex flex-col lg:flex-row items-start px-8 gap-y-24 lg:gap-24;

  .content-expertise-team:nth-child(1) {
    @apply lg:w-3/5;
  }

  .content-expertise-team {
    @apply flex flex-col items-center text-center lg:text-left lg:items-start gap-10;

    .content-team-text {
      @apply flex flex-col items-center lg:items-start gap-5;

      .team-text-heading {
        @apply flex flex-col items-center lg:items-start gap-3;
      }
    }

    .content-services-buttons {
      @apply flex flex-row items-start gap-3;
    }

    .expertise-team {
      @apply grid grid-cols-3 gap-12 lg:gap-8 items-start;

      .member {
        @apply flex flex-col items-center lg:items-start gap-5;

        .avatar {
          @apply flex flex-col items-center justify-center;

          max-width: 5rem;
          max-height: 5rem;
          border-radius: 2.5rem;
        }

        .text-profile {
          @apply flex flex-col items-center lg:items-start gap-4 text-center lg:text-left;

          .text-name {
            @apply flex flex-col items-center lg:items-start;

            .member-name {
              font-family: 'Inter-Medium';
              font-style: normal;
              font-weight: 500;
              font-size: 1.125rem;
              line-height: 1.75rem;
              color: $color-black;
            }

            .member-role {

              font-family: 'Inter-Normal';
              font-style: normal;
              font-weight: 400;
              font-size: 1rem;
              line-height: 1.5rem;
              color: $color-purple;
            }
          }

          .member-description {

            font-family: 'Inter-Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $color-gray;
          }
        }

        .social-icons {
          @apply flex flex-row items-center gap-4;
        }

        .img-social-icon {
          width: 1.25rem;
        }
      }
    }
  }

  .content-expertise-team:nth-child(2) {
    @apply col-span-2 items-center;
  }
}

/*---------------------------------------------*/

.container-metrics-title {
  @apply flex flex-col items-start px-8 gap-8;

  .content-metrics-title {
    @apply flex flex-col items-center gap-12;

    .content-metrics-heading {
      @apply flex flex-col items-center gap-5;

      .content-heading-icon {
        @apply flex flex-col items-center gap-6;

        #icon-expertise {
          max-width: 3.5rem;
          @apply flex;
        }

        #cta-services-title {
          font-family: 'Chillax-Variable';
          font-style: normal;
          font-weight: 600;
          font-size: 2.25rem;
          line-height: 2.75rem;
          letter-spacing: -0.02em;
          color: white;
        }
      }

      #cta-services-description {
        font-family: 'Inter-Normal';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: $color-blue;
      }
    }
  }
}

.container-metrics {
  @apply flex flex-col items-center px-8 gap-16;

  .content-metrics {
    @apply flex flex-row items-start gap-16;

    .content-metric {
      @apply flex flex-col items-center gap-5;

      .numbers-metrics {
        font-family: 'Inter-Normal';
        font-style: normal;
        font-weight: 600;
        font-size: 3.75rem;
        line-height: 4.5rem;
        text-align: center;
        letter-spacing: -0.02em;
        color: white;
      }

      .numbers-description {
        font-family: 'Inter-Normal';
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-align: center;
        color: $color-light-purple;
      }
    }

    .vertical-line {
      border-left: 1px solid #5022BD;
      height: 7rem;
      position: relative;
    }
  }
}
