@import '../utilities/typography', '../utilities/variable', '../templates/footer', '../templates/header', '../utilities/buttons';

@media  screen and (max-width: 424px) {
  html{
    font-size: 8px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px){
  html{
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  html{
    font-size: 16px;
  }
}

/* Homepage */
body {
  @apply m-0;
}

.section-hero {
  @apply flex flex-row justify-center items-center gap-16 py-24 lg:pl-24 xl:px-24;
  background: $background-blue;
  position: relative;

  .container-hero {
    @apply px-8 lg:px-0 lg:grid sm:grid-cols-2 text-center md:text-left flex flex-row justify-center items-center lg:gap-16;

    .content-description1 {
      @apply flex flex-col items-center lg:items-start lg:px-8 gap-12;

      .description-header {
        @apply flex flex-col text-center lg:text-left items-center lg:items-start gap-4;

        #description-hero {
          color: #EAECF0;
        }
      }

      .btns {
        @apply flex flex-row items-start gap-3 self-center md:self-auto;
      }
    }

  [name='logo'] {
    justify-self: center;
  }
  }

  .logomark {
    @apply hidden px-0 lg:flex right-0 lg:max-w-xl lg:max-h-full;
  }
}

/*-------------------------------------*/

/* Features section */
.section-features1 {
  @apply flex flex-col py-24 lg:px-24 gap-16;
  background: $background-gray;

  .container-features1-header {
    @apply flex flex-col items-center lg:items-start gap-8;

    .content-features1-title {
      @apply flex flex-col text-center lg:text-left items-center lg:items-start gap-5 w-3/4 px-8;

      .features1-title-heading {
        @apply flex flex-col items-center lg:items-start gap-3;
      }
    }
  }

  .container-features1 {
    @apply grid grid-cols-1 lg:grid-cols-2 flex-row items-center self-center px-8 gap-12;

    .content-features1{
      @apply flex flex-col lg:items-start gap-12;

      .content-heart {
        @apply flex flex-col items-center text-center md:text-start md:flex-row md:items-start gap-4;

        .icon {
          @apply flex;
          max-width: 3rem;
          max-height: 3rem;
          border-radius: 1.5rem;
        }

        .content-passionnee {
          @apply flex flex-col items-start gap-5;

          .text-passionnee {
            @apply flex flex-col items-center md:items-start pt-2.5 gap-2;

            .features-font-title {
              font-family: "Inter-Medium";
              font-style: normal;
              font-weight: 500;
              font-size: 1.25rem;
              line-height: 1.875rem;
              color: $color-black;
            }

            .features-font-description {
              font-family: "Inter-Normal";
              font-style: normal;
              font-weight: 400;
              font-size: 1rem;
              line-height: 1.5rem;
              color: $color-gray;
            }
          }
        }
      }

      .image {
        @apply flex;
        max-width: 100%;
      }
    }
  }
}



/*-------------------------------------*/

/* Team section */
.section-team {
  @apply flex flex-col items-center py-24 gap-16 lg:px-24;
  background: white;

  .container-team-header {
    @apply flex flex-col items-center px-3 lg:px-8 gap-8;

    .content-team-header {
      @apply flex flex-col items-center gap-10 px-10 lg:px-52;

      .team-header-title {
        @apply flex flex-col items-center gap-5;

        .team-header-heading {
          @apply flex flex-col items-center gap-3;

          h2 {
            text-align: center;
          }
        }

        .description-title {
          font-family: 'Inter-Normal';
          font-style: normal;
          font-weight: 400;
          font-size: 1.25rem;
          line-height: 1.875rem;
          color: $color-gray;
          text-align: center;
        }
      }
    }
  }

  .container-profile-team {
    @apply flex flex-col justify-center px-8 py-8 gap-16;

    .content-profile-team1 {
      @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 flex flex-row gap-8;

      .member {
        @apply flex flex-col items-center gap-5;

        .avatar {
          @apply flex flex-col items-center justify-center;
          max-width: 5rem;
          max-height: 5rem;
          border-radius: 2.5rem;
        }

        .text-profile {
          @apply flex flex-col items-center gap-4;

          .text-name {
            @apply flex flex-col items-center;

            .member-name {
              font-family: 'Inter-Medium';
              font-style: normal;
              font-weight: 500;
              font-size: 1.125rem;
              line-height: 1.75rem;
              text-align: center;
              color: $color-black;
            }

            .member-role {

              font-family: 'Inter-Normal';
              font-style: normal;
              font-weight: 400;
              font-size: 1rem;
              line-height: 1.5rem;
              text-align: center;
              color: $color-purple;
            }
          }

          .member-description {

            font-family: 'Inter-Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: $color-gray;
          }
        }
      }
    }
  }
}

/*-------------------------------------------------*/
/* Social proof section */
.section-background-blue {
  @apply flex flex-col items-center py-24 lg:px-24 gap-16;

  background: $background-blue;

  .container-social {
    @apply flex flex-col items-center px-8 py-8 gap-8;

    .content-brands {
      @apply grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-6 flex flex-row justify-between justify-items-center items-center gap-12;

      .company-icon {
        @apply flex items-center;
        max-height: 3rem;
      }
    }

    h3 {
      text-align: center;
    }
  }
}

/*-----------------------------------*/
/* Features section */
.section-features2 {
  @apply flex flex-col items-center py-24 gap-16 lg:px-24;
  background: white;

  .container-features2 {
    @apply flex flex-row items-start gap-8;

    .content-features2-text {
      @apply flex flex-col items-center text-center gap-12;

      .content-features2-heading {
        @apply flex flex-col items-center gap-5 px-8;
      }

      .features2-title {
        @apply flex flex-col items-center gap-3;
      }
    }
  }

  .container-features2-description {
    @apply grid grid-cols-1 lg:grid-cols-3 justify-items-center px-8 gap-24;

    .content-description2 {
      @apply flex flex-row lg:flex-col gap-12;

      .description-text {
        @apply flex flex-col items-center lg:items-start gap-5 w-1/2 lg:w-full ;

        .img-features {
          @apply flex;
          width: 3rem;
          height: 3rem;
          border-radius: 1.5rem;
        }

        .features-text {
          @apply flex flex-col gap-2 items-center text-center lg:items-start lg:text-left;

          .features-font-title  {
            font-family: "Inter-Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.875rem;
            color: $color-black;
          }

          .features-font-description  {
            font-family: "Inter-Normal";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $color-gray;
          }
        }
      }

      #img-logomark {
        @apply flex;
        max-width: 100%;
      }
    }

    .content-description2:nth-child(2) {
      align-self: center;
      @apply w-1/2 lg:w-full;
    }
  }
}

/*-------------------------------------------------*/
/* Quote section */

.section-background-blue{
  @apply relative;

  #citation-logo-form{
    @apply hidden lg:flex absolute left-24;
    width: 89px;
    bottom: 176px;
  }
}

.container-quote {
  @apply flex flex-col items-start gap-8 px-8;

  .content-quote {
    @apply flex flex-col items-center gap-10;

    .quote-attribution {
      @apply flex flex-col items-center gap-8;

      #citation {
        @apply text-5xl w-11/12;
        font-family: 'Inter-Normal';
        font-style: normal;
        font-weight: 500;
        text-align: center;
        letter-spacing: -0.02em;
        color: white;
      }

      .content-quote-author {
        @apply flex flex-col items-center gap-4;

        #martial {
          @apply flex flex-col justify-center items-center;

          max-width: 4rem;
          max-height: 4rem;
          background: #DBD0BD;
          border-radius: 12.5rem;
        }

        .content-quote-description {
          @apply flex flex-col items-start gap-1;

          #martial-text {
            font-family: 'Inter-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-align: center;
            color: white;
          }

          #citation-role {
            font-family: 'Inter-Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            color: $color-light-purple;
          }
        }
      }
    }
  }
}

/*---------------------------------------*/
/* CTA section */
.section-cta {
  @apply  grid grid-cols-1 lg:grid-cols-2 flex flex-row items-center py-24;
  background: white;

  .content-left {
    @apply flex flex-row justify-center items-center lg:gap-16;

    .container-cta {
      @apply flex flex-row items-start px-8 py-16 lg:pl-32 lg:pr-16;

      .content-cta {
        @apply flex flex-col items-center text-center lg:text-left lg:items-start gap-10;

        .cta-heading {
          @apply flex flex-col items-center lg:items-start gap-8;

          #cta-title {
            font-family: 'Chillax-Variable';
            font-style: normal;
            font-weight: 600;
            font-size: 3rem;
            line-height: 3.75rem;
            color: $color-black;
          }

          .content-items {
            @apply flex flex-col items-start pr-4 gap-5;

            .cta-item {
              @apply flex flex-row items-start gap-3;

              .img-check {
                max-width: 1.5rem;
                max-height: 1.5rem;
                border-radius: 14px;
              }

              .cta-text {
                @apply flex flex-col items-start;

                .cta-description {
                  font-family: 'Inter-Normal';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 1.125rem;
                  line-height: 1.75rem;
                  color: $color-gray;
                }
              }
            }
          }
        }

        .btns {
          @apply flex flex-row items-start gap-3 self-center md:self-auto;
        }
      }
    }

    #img-cta {
      @apply w-2/3 lg:w-full justify-center;
    }
  }
}