@import '../utilities/typography', '../utilities/variable', '../templates/footer', '../templates/header', '../utilities/buttons';
/*----------------------------------------------------------------------------*/
/*SERVICES -------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.section-hero-services {
  @apply flex flex-col px-24 py-24 gap-16 relative;
  background-color: $background-blue;

  #service-round-logo{
    @apply hidden absolute lg:flex right-0 top-10;
    height: 186px;
    width: auto;
  }

  .container-hero-services {
    @apply flex flex-col items-center text-center lg:text-left lg:items-start gap-8;

    .content-hero-services {
      @apply flex flex-col items-center lg:items-start gap-12 px-8;

      .content-services-text {
        @apply flex flex-col items-center lg:items-start gap-8 lg:pr-48;

        #services-hero-description {
          color: $color-light-purple;
        }
      }

      .content-services-buttons {
        @apply flex flex-row items-start gap-3;
      }
    }
  }

  .img-services-hero {
    @apply hidden lg:flex items-center px-8;
  }
}

/*------------------------------*/
.container-services-features {
  @apply flex flex-col items-center px-8;

  .content-services-title {
    @apply flex flex-col items-center gap-5 px-28 lg:px-56 text-center;

    .services-title-header {
      @apply flex flex-col items-center gap-3;
    }
  }
}

/*-----------------------------------------------*/

.section-service {
  @apply grid grid-cols-2 flex flex-row items-center justify-items-center md:justify-items-start px-8;

  .container-service {
    @apply flex flex-col items-center md:px-20 py-8;

    .content-service {
      @apply flex flex-col items-start gap-8;

      .service-title {
        @apply flex flex-col items-start gap-6;

        .icon {
          @apply flex;
          max-width: 3rem;
          max-height: 3rem;
          border-radius: 1.5rem;
        }

        .text-service-titre {
          font-family: 'Inter-Normal';
          font-style: normal;
          font-weight: 600;
          font-size: 1.875rem;
          line-height: 2rem;
          color: $color-black;
        }

        .text-service-description {
          font-family: 'Inter-Normal';
          font-style: normal;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.75rem;
          color: $color-gray;
        }
      }

      .service-details {
        @apply flex flex-col items-start pl-4 gap-5;

        .cta-item {
          @apply flex flex-row items-start gap-3;

          .img-check {
            max-width: 1.5rem;
            max-height: 1.5rem;
            border-radius: 14px;
          }

          .cta-text {
            @apply flex flex-col items-start;

            .cta-description {
              font-family: 'Inter-Normal';
              font-style: normal;
              font-weight: 400;
              font-size: 1.125rem;
              line-height: 1.75rem;
              color: $color-gray;
            }
          }
        }
      }
    }
  }

  .img-service {
    max-height: 35rem;
    @apply flex px-4;
  }
}

.container-cta-services {
  @apply flex flex-col items-center px-8 gap-8;

  .content-cta-services {
    @apply flex flex-col items-center gap-10;

    .content-cta-services-title {
      @apply flex flex-col items-center gap-5 text-center;

      #cta-services-title {
        font-family: 'Chillax-Variable';
        font-style: normal;
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 2.75rem;
        letter-spacing: -0.02em;
        color: white;
      }

      #cta-services-description {
        font-family: 'Inter-Normal';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: $color-blue;
      }
    }
  }

  .btns-cta-services {
    @apply flex flex-row items-start gap-3;
  }
}