@import 'variable';

pre {
  background: $color-code-background;
  color: white;
  margin: 1rem 4rem 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 700px;
  font-size: 0.75rem;

  code {
    .hljs-keyword {
      color: $color-code-keyword;
    }

    .hljs-string, .hljs-meta-string {
      color: $color-code-string;
    }

    .hljs-comment {
      color: $color-code-comment;
    }

    .hljs-meta {
      color: $color-code-meta;
    }

    .hljs-title {
      color: $color-code-title;
    }
  }

}
