@import './variable', './fonts';

h1 {
  font-family: 'Chillax-Variable', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.5rem;
  color: white;
}

h2 {
  font-family: 'Inter-Medium', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 2.75rem;
  color: $color-black;
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Inter-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $color-blue;
  margin-bottom: 1rem;
}

h4 {
  font-family: 'Inter-Normal', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $color-blue;
  margin-bottom: 0.5rem;
}

h5 {
  font-family: 'Inter-SemiBold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $color-pink;
}

p {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 424px) {
  section.content {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  section.content {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  section.content {
    font-size: 0.875rem;
  }
}

section.content {
  display: flex;

  nav.summary {
    position: absolute;
    width: 250px;
    top: 90px;
    height: calc(100% - 90px);
    overflow-y: scroll;

    ul {
      font-weight: 700;

      ul {
        font-weight: 300;

        ul {
          font-weight: 200;
          font-size: 0.75rem;
        }
      }
    }
  }

  article {
    position: absolute;
    top: 90px;
    left: 250px;
    height: calc(100% - 90px);
    overflow-y: scroll;
    padding: 2rem;
  }
}
