@import 'src/scss/base/variable';

body {
  color: $body-color;
  font-family: 'Inter', ui-sans-serif, sans-serif;
}

h1 {
  font-family: 'Chillax-Variable', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: white;
}

.hero h1 {
  color: black;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

h2 {
  font-family: 'Chillax-Variable', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.25rem;
  color: $color-black;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

h3 {
  font-family: 'Chillax-Variable', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $color-blue;
  margin-bottom: 1rem;
}

h4 {
  font-family: 'Chillax-Variable', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $color-blue;
  margin-bottom: 0.5rem;
}

h5 {
  font-family: 'Chillax-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $color-pink;
}

p {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  section.content, section.description, section.our-libraries {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  section.content, section.description, section.our-libraries {
    font-size: 0.875rem;
  }
}
