$white: #FFFFFF;
$light-gray: #F1F6F9;
$dark-gray: #667085;

$primary: #A45669;
$secondary: #63325C;
$info: #0FBEFE;
$dark: #101828;
$warning: #EEE3AB;
$success: #D1F0B1;
$border: #C6DBE5;

$body-color: #313747;

$color-code-background: #282c34;
$color-code-keyword: $primary;
$color-code-title: $success;
$color-code-string: $warning;
$color-code-meta: $info;
$color-code-comment: #C6DBE5;

$header-height: 90px;
$summary-width: 300px;
$article-max-width: 700px;

