<nav class="summary">
    <ul>
        <!--        <li><a href="#how-to-install">Getting started</a>-->
        <!--            <ul>-->
        <!--                <li><a href="#recommended-angular-versions">Recommended Angular versions</a></li>-->
        <!--                <li><a href="#main-module">Main module</a></li>-->
        <!--                <li><a href="#http-driver">Http Driver</a></li>-->
        <!--                <li><a href="#firestore-driver">Firestore Driver</a></li>-->
        <!--                <li><a href="#import-modules">Import Modules</a></li>-->

        <!--            </ul>-->
        <!--        </li>-->

        <li><a href="repository-basic-usage.html#basic-usage">Basic usage</a>
            <ul>
                <li><a href="repository-basic-usage.html#resource">Resource</a></li>
                <li><a href="repository-basic-usage.html#repository">Repository</a></li>
            </ul>
        </li>

        <li><a href="repository-overview.html#overview">Overview</a>
            <ul>
                <li><a href="repository-overview.html#id-and-column-configuration">@Id and @Column</a></li>
                <li><a href="repository-overview.html#path-parameters-and-pathcolumn">Path parameters and
                    @PathColumn</a></li>
                <li><a href="repository-overview.html#joincolumn">JoinColumn</a></li>
                <li><a href="repository-overview.html#subcollection">SubCollection</a></li>
                <li><a href="repository-overview.html#query">Query</a></li>
            </ul>
        </li>

        <li><a href="repository-resource-configuration#resource-configuration">Resource configuration</a>
            <ul>
                <li><a href="repository-resource-configuration.html#response-type">Response type</a></li>
                <li><a href="repository-resource-configuration.html#path">Path</a></li>
                <li><a href="repository-resource-configuration.html#page-response-processor">Page response processor</a>
                </li>
                <li><a href="repository-resource-configuration.html#global-configuration">Global configuration</a></li>
            </ul>
        </li>
        <!--        <li><a href="#http-pagination">HTTP Pagination</a>-->
        <!--            <ul>-->
        <!--                <li><a href="#page-type">Page type</a></li>-->
        <!--                <li><a href="#page-response-processor">Page response processor</a></li>-->
        <!--            </ul>-->
        <!--        </li>-->
        <!--        <li><a href="#httpliveresource">HttpLiveResource</a></li>-->
        <!--        <li><a href="#firestorecreatedat-and-firestoreupdatedat">Firestore</a></li>-->
        <!--        <li><a href="#advanced-usage">Advanced usage</a>-->
        <!--            <ul>-->
        <!--                <li><a href="#custom-repository">Custom repository</a></li>-->
        <!--                <li><a href="#custom-http-api">Custom HTTP API</a></li>-->
        <!--                <li><a href="#event-system">Event system</a></li>-->
        <!--            </ul>-->
        <!--        </li>-->
        <!--        <li><a href="#test-and-debug">Test and debug</a>-->
        <!--            <ul>-->
        <!--                <li><a href="#ngxrepositorytestingmodule">NgxRepositoryTestingModule</a></li>-->
        <!--                <li><a href="#enable-debug-mode">Enable debug mode</a></li>-->
        <!--            </ul>-->
        <!--        </li>-->
        <!--        <li><a href="#install-and-build-project">Install and build project</a></li>-->
    </ul>
</nav>
