<nav class="summary">
    <ul>
        <li><a href="#how-to-install">How to install</a></li>
        <li><a href="#most-used-operators">Most used operators</a>
            <ul>
                <li><a href="#log">log</a></li>
                <li><a href="#softcache">softCache</a></li>
                <li><a href="#hardcache">hardCache</a></li>
                <li><a href="#refreshon">refreshOn</a></li>
            </ul>
        </li>
        <li><a href="#array-operators">Array operators</a>
            <ul>
                <li><a href="#arrayfilter">arrayFilter</a></li>
                <li><a href="#arrayfind">arrayFind</a></li>
                <li><a href="#arraymap">arrayMap</a></li>
                <li><a href="#other-array-operators">Other array operators</a></li>
            </ul>
        </li>
        <li><a href="#filtering-operators">Filtering operators</a>
            <ul>
                <li><a href="#ifempty">ifEmpty</a></li>
                <li><a href="#iffalsy">ifFalsy</a></li>
                <li><a href="#ifnotnull">ifNotNull</a></li>
                <li><a href="#ifnotnulls">ifNotNulls</a></li>
                <li><a href="#ifnull">ifNull</a></li>
                <li><a href="#ifnulls">ifNulls</a></li>
                <li><a href="#iftruthy">ifTruthy</a></li>
            </ul>
        </li>
        <li><a href="#other-operators">Other operators</a>
            <ul>
                <li><a href="#countsubscription">countSubscription</a></li>
                <li><a href="#joinarray">joinArray</a></li>
                <li><a href="#onany">onAny</a></li>
                <li><a href="#onerror">onError</a></li>
                <li><a href="#poll">poll</a></li>
                <li><a href="#sneakythrow">sneakyThrow</a></li>
                <li><a href="#tohotarray">toHotArray</a></li>
                <li><a href="#wif">wif</a></li>
            </ul>
        </li>
    </ul>
</nav>

