<header>
    <nav class="container-header">
        <div class="content-logo-header">
            <em class="fa fa-bars fa-lg"
                onclick="toggleSummary()"></em>
            <a class="logo-link"
               href="index.html">
                <img class="desktop-version"
                     src="img/paddls.png"
                     alt="paddls logo">
                <h1>Paddls</h1>
            </a>
        </div>
        <div class="content-pages-header">
            <ul id="header-links">
                <li><a class="links-header@@if (context.active === 'repository') {active}"
                       href="./repository-start.html">ngx-repository</a></li>
                <li><a class="links-header@@if (context.active === 'form') {active}"
                       href="./form.html">ngx-form</a></li>
                <li><a class="links-header"
                       href="./serializer.html">serializer</a></li>
                <li><a class="links-header"
                       href="./rxjs-common.html">rxjs-common</a></li>
            </ul>
        </div>
    </nav>
</header>

<template id="toc-template">
    <li class="toc-element">
        <a class="toc-link"></a>
    </li>
</template>
