<html lang="en">
@@include('../templates/head.html', {
'title' : 'Paddls',
'description' : 'Home'
})
<body>
@@include('../templates/header.html')

<section class="hero">
    <h1>Stop paddling, use <br>@paddls</h1>

    <div class="code-container">
        <code>
            ng add @paddls/schematics
        </code>
        <em class="fa-regular fa-clone fa-lg"
            onclick="toClipboard('ng add @paddls/schematics')"></em>

    </div>
</section>
<section class="description">
    <p>
        Build your <strong>Angular</strong> and <strong>Typescript</strong> apps has never been easier.
        <code>@paddls</code> librairies dig deep into the
        power of Typescript using the full potential of strongly typed objects and decorators.
    </p>
</section>

<h2 class="index">Our libraries</h2>

<section class="our-libraries">
    <a href="repository-start.html">
        <article class="library-card">
            <div>
                <em class="fa-thin fa-floppy-disks fa-7x"></em>
            </div>
            <h4>ngx-repository</h4>
            <p>
                Easily create a strongly typed data client (Http REST or Firestore) in your Angular project.
            </p>
        </article>
    </a>
    <a href="repository-start.html">
        <article class="library-card">
            <div>
                <em class="fa-thin fa-file-lines fa-7x"></em>
            </div>
            <h4>ngx-form</h4>
            <p>
                Model based typed reactive forms made easy.
            </p>
        </article>
    </a>
    <a href="repository-start.html">
        <article class="library-card">
            <div>
                <em class="fa-thin fa-cauldron fa-7x"></em>
            </div>
            <h4>serializer</h4>
            <p>
                Serialize your models into strongly typed Typescript classes.
            </p>
        </article>
    </a>
    <a href="rxjs-common.html">
        <article class="library-card">
            <div>
                <em class="fa-thin fa-chart-network fa-7x"></em>
            </div>
            <h4>rxjs-common</h4>
            <p>
                A collection of useful RxJS operators.
            </p>
        </article>
    </a>
</section>
</body>

<script src="scripts.js"></script>
</html>
