<html lang="en">
@@include('../templates/head.html', {
'title' : 'Paddls',
'description' : 'Home'
})
<body>
@@include('../templates/header.html')

<section class="hero">
    <h1>Stop paddling, use <br>@paddls</h1>

    <div class="code-container">
        <code>
            ng add @paddls/schematics
        </code>
        <em class="fa-regular fa-clone fa-lg"
            onclick="toClipboard('ng add @paddls/schematics')"></em>

    </div>
</section>
<section class="description">
    <p>
        Build your <strong>Angular</strong> and <strong>Typescript</strong> apps has never been easier.
        <code>@paddls</code> librairies dig deep into the
        power of Typescript using the full potential of strongly typed objects and decorators.
    </p>
</section>

<h2 class="index">Our libraries</h2>

<section class="our-libraries">
    <a href="repository-basic-usage.html">
        <article class="library-card"
                 id="repository-article">
            <div id="repository">
                <em class="fa-thin fa-floppy-disks fa-10x"></em>
            </div>
            <div class="description">
                <h4>ngx-repository</h4>
                <p>
                    A strongly typed data client for Angular
                </p>
            </div>
        </article>
    </a>
    <!--    <a href="repository-basic-usage.html">-->
    <!--        <article class="library-card">-->
    <!--            <div>-->
    <!--                <em class="fa-thin fa-file-lines fa-7x"></em>-->
    <!--            </div>-->
    <!--            <h4>ngx-form</h4>-->
    <!--            <p>-->
    <!--                Model based typed reactive forms made easy.-->
    <!--            </p>-->
    <!--        </article>-->
    <!--    </a>-->
    <!--    <a href="repository-basic-usage.html">-->
    <!--        <article class="library-card">-->
    <!--            <div>-->
    <!--                <em class="fa-thin fa-cauldron fa-7x"></em>-->
    <!--            </div>-->
    <!--            <h4>serializer</h4>-->
    <!--            <p>-->
    <!--                Serialize your models into strongly typed Typescript classes.-->
    <!--            </p>-->
    <!--        </article>-->
    <!--    </a>-->
    <a href="rxjs-common.html">
        <article class="library-card"
                 id="rxjs-article">
            <div id="rxjs"></div>
            <div class="description">
                <h4>rxjs-common</h4>
                <p>
                    A collection of useful RxJS operators
                </p>
            </div>
        </article>
    </a>
</section>
</body>

<script src="scripts.js"></script>
</html>
