@import 'src/scss/base/typography';
@import 'src/scss/base/variable';

@mixin btn($background, $border-color, $color) {

  box-sizing: border-box;

  @apply flex flex-row justify-center items-center px-5 py-3 gap-2 text-center h-full;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: 'Inter-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  transition: 0.3s;
  border-width: 1px;
  border-style: solid;
  background: $background;
  border-color: $border-color;
  color: $color;
}

@mixin hover-active-btn($hover, $active) {
  &:hover {
    background: $hover;
    border-color: $hover;
    color: white;
  }

  &:active {
    background: $active;
    border-color: $active;
  }
}

@mixin header-links($color, $active) {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
  transition: 0.3s;
  color: $color;

  &.active, &:hover {
    color: $active;
  }
}


.links-header {
  @include header-links($white, $primary);
}
