@import 'src/scss/base/variable';

code {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.78rem;
  background-color: #f0f2f3;
  border-radius: 0.125rem;
  padding: 2px 6px;
}

.code-header {
  background: darken($color-code-background, 10%);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  em {
    cursor: pointer;
  }
}

pre {
  background: $color-code-background;
  color: white;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
  font-size: 0.75rem;
  overflow: scroll;
  border-radius: 0 0 0.5rem 0.5rem;

  &:not(.compact) {
    padding: 1rem;
  }

  code {
    background: none;

    .hljs-keyword {
      color: $color-code-keyword;
    }

    .hljs-string, .hljs-meta-string {
      color: $color-code-string;
    }

    .hljs-comment {
      color: $color-code-comment;
    }

    .hljs-meta {
      color: $color-code-meta;
    }

    .hljs-title {
      color: $color-code-title;
    }
  }
}

section.hero {
  div.code-container {
    margin-top: 2rem;
    width: fit-content;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 1rem;
    background: $light-gray;
    border: 1px $border solid;
    border-radius: 0.5rem;

    code {
      background: none;
    }

    em {
      cursor: pointer;
      padding-left: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  pre {
    font-size: 0.625rem !important;
  }
}
