@import 'src/scss/base/variable', 'src/scss/base/fonts';

.footer-text-copyrights {
  font-family: 'Inter-Normal';
  font-style: normal;
  font-weight: 240;
  font-size: 0.6rem;
  line-height: 0.9rem;
  text-align: left;
  color: $color-copyrights;
}

footer {
  @apply flex flex-col items-center pt-16 pb-12 gap-16;
  background-color: $background-gray;

  .container-footer-pages {
    @apply flex flex-col items-center px-0 md:px-8 gap-12;

    .footer-links {
      @apply flex flex-row justify-center items-center gap-8 list-none;
    }
  }

  .container-footer-copyright {
    @apply flex flex-col lg:flex-row items-center justify-between px-1 md:px-8 pt-4 w-5/6;

    border-top: 1px solid #EAECF0;

    .footer-links-copyrights {
      @apply flex flex-row items-start gap-4 list-none text-center;
    }
  }
}

.desktop-version {
  max-width: 8.875rem;
}





