@import 'src/scss/base/variable', 'src/scss/base/fonts';

nav {
  padding: 0;
}

header {
  height: 90px;

  em.fa-bars {
    color: white;
    cursor: pointer;
  }

  @apply flex flex-col justify-center items-center px-0;
  background-color: $dark;

  .container-header {
    @apply flex flex-row justify-between items-center py-6 px-8 gap-7 w-full;
  }

  .content-logo-header {
    @apply flex flex-row gap-10 items-center;

    .logo-link {
      @apply flex items-center;

      h1 {
        margin-left: 1rem;
      }
    }
  }

  .content-pages-header {
    @apply flex flex-row items-start gap-8 relative;

    #header-links, #ext-header-links {
      @apply flex items-center gap-8 list-none;
      transition: 0.2s ease-in-out;
    }

    #header-links {
      span.link-header-text {
        padding-left: 0.5rem;
      }
    }

    #ext-header-links {
      padding-left: 2rem;
      border-left: 1px solid white;
    }
  }
}

.desktop-version {
  max-height: 2.5rem;
}

@media screen and (min-width: 992px) {
  em.fa-bars {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .link-header-text {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  header h1 {
    display: none;
  }
}
