@import 'src/scss/base/variable';

body {
  @apply m-0;
}

* {
  --summary-width: 300px;
  --article-left-gap: 3rem;
}

@media screen and (max-width: 992px) {
  * {
    --summary-width: 0;
    --article-left-gap: 0;
  }
}

section.hero {
  padding: 8rem 15%;
  height: 500px;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  background: url('../img/hero.jpg');
  background-size: cover;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(2px);
    z-index: -1;
  }
}

section.description {
  padding: 4rem 3rem;
  background-color: $light-gray;

  p {
    width: 50%;
  }
}

section.content {
  display: flex;

  .summary-container nav.summary {
    position: absolute;
    width: var(--summary-width);
    top: $header-height;
    height: calc(100% - $header-height);
    overflow-y: scroll;
  }

  nav.summary {
    ul {
      text-transform: uppercase;
      font-weight: bold;
      color: $body-color;
      font-size: 0.8rem;
      font-family: 'Chillax-Bold', sans-serif;

      a:hover {
        color: $primary;
      }

      ul {
        font-weight: normal;
        font-family: 'Inter', sans-serif;
        text-transform: none;
        letter-spacing: normal;
      }
    }
  }

  article:not(.library-card) {
    position: absolute;
    top: $header-height;
    left: var(--summary-width);
    height: calc(100% - $header-height);
    width: calc(100vw - var(--summary-width));
    overflow-y: scroll;
    padding: 4rem;

    .content-container {
      max-width: $article-max-width;
    }
  }
}

blockquote {
  line-height: 1.6;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  position: relative;

  &:before {
    height: 100%;
    width: 0.25rem;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &.info {
    background: #0894e20f;

    &:before {
      background: #0894e2;
    }
  }
}

h2.index {
  margin-top: 4rem;
  margin-left: 3rem;
}

.our-libraries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  background: white;
  margin: 1rem 3rem;

  a {
    height: 240px;
  }

  .library-card {
    border-radius: 0.5rem;
    height: 12rem;
    position: relative;
    overflow: hidden;

    &#rxjs-article {
      background: rgb(93, 40, 138);
      background: linear-gradient(8deg, rgba(93, 40, 138, 0.35477941176470584) 0%, rgba(237, 2, 143, 0.30155812324929976) 70%);
    }

    &#repository-article {
      background: rgb(34, 193, 195);
      background: linear-gradient(0deg, rgba(34, 193, 195, 0.34637605042016806) 0%, rgba(45, 253, 176, 0.3491771708683473) 100%);
    }

    #repository {
      height: 100%;
      width: 100%;
      overflow: hidden;
      filter: blur(1px);
      display: flex;
      justify-content: center;
      align-items: center;

      em {
        color: #147273;
      }
    }

    #rxjs {
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: url("../img/rxjs.png");
      background-size: cover;
      filter: blur(1px);
    }

    .description {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3rem;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(4px);
      padding: 0 1rem;
    }

    h4 {
      font-weight: 600;
      color: $body-color;
      font-size: 0.875rem;
      margin-bottom: 0;
      font-family: 'Inter', sans-serif;
    }

    p {
      font-size: 0.75rem;
      color: lighten($body-color, 20%);
    }
  }
}

@media screen and (max-width: 1200px) {
  .our-libraries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  article:not(.library-card) {
    width: 100vw !important;
  }

  .content-container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  section.hero {
    padding: 2rem 1rem;
    height: 200px;

    h1 {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  section.description {
    padding: 2rem 1rem;

    p {
      width: 100%;
    }
  }

  article:not(.library-card) {
    padding: 1rem !important;
  }

  .our-libraries {
    grid-template-columns: repeat(1, 1fr);
  }
}
