@import 'src/scss/base/variable';

body {
  @apply m-0;
}

* {
  --summary-width: 300px;
  --article-left-gap: 3rem;
}

@media screen and (max-width: 992px) {
  * {
    --summary-width: 0;
    --article-left-gap: 0;
  }
}

section.hero {
  padding: 4rem 3rem;
  height: 400px;
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('img/paddls.png');
    background-repeat: no-repeat;
    background-position: right -10%;
  }
}

section.description {
  padding: 4rem 3rem;
  background-color: $background-gray;

  p {
    width: 50%;
  }
}

section.content {
  display: flex;

  .summary-container nav.summary {
    position: absolute;
    width: var(--summary-width);
    top: $header-height;
    height: calc(100% - $header-height);
    overflow-y: scroll;
  }

  nav.summary {
    ul {
      font-weight: 700;

      ul {
        font-weight: 300;

        ul {
          font-weight: 200;
          font-size: 0.75rem;
        }
      }
    }
  }

  article:not(.library-card) {
    position: absolute;
    top: $header-height;
    left: var(--summary-width);
    height: calc(100% - $header-height);
    width: calc(100vw - var(--summary-width));
    overflow-y: scroll;
    padding: 4rem;

    .content-container {
      max-width: $article-max-width;
    }
  }
}

blockquote {
  line-height: 1.6;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  position: relative;

  &:before {
    height: 100%;
    width: 0.25rem;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &.info {
    background: #0894e20f;

    &:before {
      background: #0894e2;
    }
  }
}

h2.index {
  margin-top: 4rem;
  margin-left: 3rem;
}

.our-libraries {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 1rem 3rem;
  gap: 1.5rem;

  a {
    width: 25%;
    height: 240px;
  }

  .library-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    background: $background-gray;
    border: 1px $border-button-gray solid;
    border-radius: 0.5rem;
    height: 100%;

    h4 {
      padding-top: 0.5rem;
    }

    p {
      font-weight: lighter;
    }
  }
}

@media screen and (max-width: 992px) {
  article:not(.library-card) {
    width: 100vw !important;
  }

  .content-container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  article:not(.library-card) {
    padding: 1rem !important;
  }
}
