@import 'src/scss/base/variable';

table {

  td, th {
    padding: 1rem 2rem;
  }

  th {
    background-color: transparentize($primary, 0.5);
    border: 1px solid transparentize($primary, 0.5);
  }

  td {
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    font-size: 0.85rem;
  }

  margin-bottom: 2rem;
}
